//
// _card.scss
//

.card {
    margin-bottom: $grid-gutter-width;
    box-shadow: $box-shadow;
}

.card-header {
    border: 1px solid #d2d6de;
    border-radius: 5px;
    background-color: #fff;
}

.card-drop {
    font-size: 20px;
    line-height: 0;
    color: inherit;
}

.card-title {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    margin: 7px 0 7px 0;
}

.card-title-desc {
    color: $card-title-desc;
    margin-bottom: 24px;
}

.card-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.card-body.box {
    border-bottom: 1px solid #d2d6de;
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    border-radius: 5px;
}

.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}

.box.box-solid {
    border-top: 0;
}

.box.box-default {
    border-top-color: #d2d6de;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 12px;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 12px;
    line-height: 1;
}
