$theme-colors: (
    "primary": #000000c2,
    'dark' : #000000c2
);

$navbar-dark-color: #eee;

$custom-file-text: (
  pt: "Selecione",
);

@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

@import 'bootstrap-table.scss';

@import '_fontawesome.scss';

@import '_select2.scss';

@import '~bootstrap/scss/bootstrap';
